---
http_interactions:
- request:
    method: put
    uri: https://staging.gate.emerchantpay.net/threeds/threeds_method/44fa3826a2966c738febda31aecf02d2
    body:
      encoding: US-ASCII
      string: unique_id=44fa3826a2966c738febda31aecf02d2&signature=cec7c84c8031dfa678edbe5676fcb73c483f262e1412cb272287d609b5c0e9dcfd08632f24ec18b8b08b5f1b689c387e53b9af8f478237a51c22cc2b23465dc6
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic example_credentials
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <payment_response>
          <unique_id>44fa3826a2966c738febda31aecf02d2</unique_id>
          <transaction_id>sp-28377-994b-414e-b0bc-d75de0860</transaction_id>
          <transaction_type>authorize3d</transaction_type>
          <status>error</status>
          <technical_message>Please, reconcile the transaction in order to check its current status.</technical_message>
        </payment_response>
  recorded_at: Tue, 06 Feb 2024 15:47:39 GMT
recorded_with: VCR 6.2.0
