---
http_interactions:
- request:
    method: post
    uri: https://staging.gate.emerchantpay.net/process/example_token/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <payment_transaction>
          <transaction_type>authorize3d</transaction_type>
          <transaction_id>sp-9a508-4b64-4e4c-9636-7fd73889d</transaction_id>
          <usage>Electronic transaction via Spree eCommerce platform</usage>
          <remote_ip>127.0.0.1</remote_ip>
          <amount>11000</amount>
          <currency>EUR</currency>
          <card_holder>Spree Commerce</card_holder>
          <card_number>4111111111111111</card_number>
          <expiration_month>12</expiration_month>
          <expiration_year>2025</expiration_year>
          <cvv>123</cvv>
          <notification_url>http://127.0.0.1:4000/api/v2/storefront/emerchantpay_notification</notification_url>
          <return_success_url>http://localhost:4000/orders/R235801122</return_success_url>
          <return_failure_url>http://localhost:4000/checkout/payment?order_number=R235801122</return_failure_url>
          <customer_email>eula@ledner.us</customer_email>
          <customer_phone>88888888888</customer_phone>
          <billing_address>
            <first_name>John</first_name>
            <last_name>Smith</last_name>
            <address1>518 Jake Knolls</address1>
            <zip_code>85104-3862</zip_code>
            <city>City</city>
            <state>North Dakota</state>
            <country>RO</country>
          </billing_address>
          <shipping_address>
            <first_name>John</first_name>
            <last_name>Smith</last_name>
            <address1>73427 Aurelio Passage</address1>
            <zip_code>52056-1073</zip_code>
            <city>City</city>
            <state>West Virginia</state>
            <country>EH</country>
          </shipping_address>
          <threeds_v2_params>
            <threeds_method>
              <callback_url>http://127.0.0.1:4000/api/v2/storefront/emerchantpay_threeds/status</callback_url>
            </threeds_method>
            <control>
              <device_type>browser</device_type>
              <challenge_window_size>full_screen</challenge_window_size>
              <challenge_indicator>mandate</challenge_indicator>
            </control>
            <purchase>
              <category>goods</category>
            </purchase>
            <merchant_risk>
              <shipping_indicator>stored_address</shipping_indicator>
              <delivery_timeframe>another_day</delivery_timeframe>
              <reorder_items_indicator>first_time</reorder_items_indicator>
            </merchant_risk>
            <card_holder_account>
              <creation_date>06-02-2024</creation_date>
              <update_indicator>current_transaction</update_indicator>
              <last_change_date>06-02-2024</last_change_date>
              <password_change_indicator>during_transaction</password_change_indicator>
              <password_change_date>06-02-2024</password_change_date>
              <shipping_address_usage_indicator>current_transaction</shipping_address_usage_indicator>
              <shipping_address_date_first_used>06-02-2024</shipping_address_date_first_used>
              <transactions_activity_last_24_hours>1</transactions_activity_last_24_hours>
            </card_holder_account>
            <browser>
              <accept_header>*/*</accept_header>
              <java_enabled>true</java_enabled>
              <language>en-GB</language>
              <color_depth>32</color_depth>
              <screen_height>400</screen_height>
              <screen_width>400</screen_width>
              <time_zone_offset>+0</time_zone_offset>
              <user_agent>Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.36</user_agent>
            </browser>
          </threeds_v2_params>
        </payment_transaction>
    headers:
      Content-Type:
      - text/xml
      Authorization:
      - Basic example_credentials
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"6c1687578defc149bd0ec75dda53198d"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <payment_response>
          <transaction_type>authorize3d</transaction_type>
          <status>approved</status>
          <cvv_result_code>M</cvv_result_code>
          <authorization_code>386130</authorization_code>
          <retrieval_reference_number>403710166294</retrieval_reference_number>
          <scheme_response_code>00</scheme_response_code>
          <unique_id>846b2298647e3b3f7b0067a818113eb1</unique_id>
          <transaction_id>sp-9a508-4b64-4e4c-9636-7fd73889d</transaction_id>
          <consumer_id>156765</consumer_id>
          <response_code>00</response_code>
          <technical_message>TESTMODE: No real money will be transferred!</technical_message>
          <message>TESTMODE: No real money will be transferred!</message>
          <mode>test</mode>
          <timestamp>2024-02-06T10:34:01Z</timestamp>
          <descriptor>test</descriptor>
          <amount>11000</amount>
          <currency>EUR</currency>
          <threeds>
            <eci>07</eci>
          </threeds>
          <sent_to_acquirer>true</sent_to_acquirer>
          <scheme_transaction_identifier>234567891234560</scheme_transaction_identifier>
        </payment_response>
  recorded_at: Tue, 06 Feb 2024 10:34:04 GMT
recorded_with: VCR 6.2.0
