---
http_interactions:
- request:
    method: post
    uri: https://staging.gate.emerchantpay.net/process/example_token/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <payment_transaction>
          <transaction_type>capture</transaction_type>
          <transaction_id>sp-b02d2-a1ee-4cb7-a0ba-367c58668</transaction_id>
          <usage>Reference transaction via Spree eCommerce platform - Authorize3d</usage>
          <remote_ip>127.0.0.1</remote_ip>
          <reference_id>7e82b1d4eae5ab35c51fbaa68b23bcbd</reference_id>
          <amount>99</amount>
          <currency>EUR</currency>
        </payment_transaction>
    headers:
      Content-Type:
      - text/xml
      Authorization:
      - Basic example_credentials
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"1a5c9663dcd2c573dcfd2f761133f7d4"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <payment_response>
          <transaction_type>capture</transaction_type>
          <status>approved</status>
          <unique_id>94f077b6046cf1195260b7324d0df4b7</unique_id>
          <transaction_id>sp-b02d2-a1ee-4cb7-a0ba-367c58668</transaction_id>
          <technical_message>TESTMODE: No real money will be transferred!</technical_message>
          <message>TESTMODE: No real money will be transferred!</message>
          <mode>test</mode>
          <timestamp>2024-02-06T11:51:40Z</timestamp>
          <descriptor>test</descriptor>
          <amount>99</amount>
          <currency>EUR</currency>
          <sent_to_acquirer>true</sent_to_acquirer>
        </payment_response>
  recorded_at: Tue, 06 Feb 2024 11:51:41 GMT
recorded_with: VCR 6.2.0
