---
http_interactions:
- request:
    method: post
    uri: https://staging.wpf.emerchantpay.net/wpf/reconcile
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <wpf_reconcile>
          <unique_id>ae1d51e6dcaae88635bb54b2aaa3257a</unique_id>
        </wpf_reconcile>
    headers:
      Content-Type:
      - text/xml
      Authorization:
      - Basic example_credentials
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"3dd9c3851cd639a0f867ad53f81b10be"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <wpf_payment>
          <status>refunded</status>
          <unique_id>ae1d51e6dcaae88635bb54b2aaa3257a</unique_id>
          <transaction_id>sp-1ac50-75f8-48f9-a0e8-fc294ee02</transaction_id>
          <timestamp>2024-03-13T13:51:35Z</timestamp>
          <amount>2499</amount>
          <currency>EUR</currency>
          <usage>Electronic transaction via Spree eCommerce platform</usage>
          <card_brand>master</card_brand>
          <card_number>520000...1005</card_number>
          <card_type>CREDIT</card_type>
          <card_subtype>STANDARD</card_subtype>
          <card_issuing_bank>PUBLIC BANK BERHAD</card_issuing_bank>
          <card_issuing_country>malaysia</card_issuing_country>
          <card_holder>Travis Pastrana</card_holder>
          <expiration_year>2025</expiration_year>
          <expiration_month>12</expiration_month>
          <payment_transaction>
            <status>refunded</status>
            <response_code>00</response_code>
            <authorization_code>968214</authorization_code>
            <transaction_type>sale3d</transaction_type>
            <unique_id>09dc2c787080b29b2552daf3fb639712</unique_id>
            <transaction_id>sp-1ac50-75f8-48f9-a0e8-fc294ee02</transaction_id>
            <terminal_token>3c5c752969b447f09de25dea4b9f82bdff29b558</terminal_token>
            <mode>test</mode>
            <timestamp>2024-03-13T13:53:11Z</timestamp>
            <descriptor>CL TEST</descriptor>
            <amount>2499</amount>
            <currency>EUR</currency>
            <customer_email>travis@example.com</customer_email>
            <customer_phone>088888888</customer_phone>
            <scheme_transaction_identifier>NPDRMNVVQ</scheme_transaction_identifier>
            <scheme_settlement_date>0313</scheme_settlement_date>
            <technical_message>TESTMODE: No real money will be transferred!</technical_message>
            <message>TESTMODE: No real money will be transferred!</message>
            <threeds>
              <eci>00</eci>
              <protocol>
                <target_version>2</target_version>
              </protocol>
            </threeds>
            <billing_address>
              <first_name>Travis</first_name>
              <last_name>Pastrana</last_name>
              <address1>GORA Building</address1>
              <address2/>
              <zip_code>1000</zip_code>
              <city>Sofia</city>
              <state/>
              <country>BG</country>
            </billing_address>
            <shipping_address>
              <first_name/>
              <last_name/>
              <address1/>
              <address2/>
              <zip_code/>
              <city/>
              <state/>
              <country/>
            </shipping_address>
          </payment_transaction>
          <payment_transaction>
            <status>approved</status>
            <response_code>00</response_code>
            <authorization_code>917240</authorization_code>
            <transaction_type>refund</transaction_type>
            <unique_id>eafae2b35722a68ed9e4522ace7d720b</unique_id>
            <transaction_id>sp-9fc5c-0e5c-4f2b-ad01-7796c1252</transaction_id>
            <terminal_token>3c5c752969b447f09de25dea4b9f82bdff29b558</terminal_token>
            <mode>test</mode>
            <timestamp>2024-03-13T14:01:20Z</timestamp>
            <descriptor>CL TEST</descriptor>
            <amount>2499</amount>
            <currency>EUR</currency>
            <customer_email>travis@example.com</customer_email>
            <customer_phone>088888888</customer_phone>
            <technical_message>TESTMODE: No real money will be transferred!</technical_message>
            <message>TESTMODE: No real money will be transferred!</message>
          </payment_transaction>
        </wpf_payment>
  recorded_at: Thu, 14 Mar 2024 11:45:11 GMT
recorded_with: VCR 6.2.0
