---
http_interactions:
- request:
    method: post
    uri: https://staging.gate.emerchantpay.net/reconcile/example_token/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <reconcile>
          <unique_id>846b2298647e3b3f7b0067a818113eb1</unique_id>
        </reconcile>
    headers:
      Content-Type:
      - text/xml
      Authorization:
      - Basic example_credentials
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Www-Authenticate:
      - Basic realm="Web Password"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <payment_response>
          <status>error</status>
          <code>110</code>
          <message>401 Unauthorized: Invalid Authentication!</message>
          <technical_message>Invalid Authentication</technical_message>
        </payment_response>
  recorded_at: Fri, 16 Feb 2024 10:12:06 GMT
recorded_with: VCR 6.2.0
