body.emp-form-helper-body {
    padding-top: 50px;
}
.emp-center {
    max-width: 819px;
    height: 423px;
    background-color: #ffffff;
    border-radius: 10px;
    color: #000000;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.emp-center h3 {
    font-family: 'Segoe UI', Arial, sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 2em;
}
.emp-center h3 span {
    font-family: 'Segoe UI', Arial, sans-serif;
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    padding-top: 30px;
}
.emp-hidden {
    display: none;
}
.emp-screen-logo
{
    width: 152px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
