---
http_interactions:
- request:
    method: post
    uri: https://staging.gate.emerchantpay.net/process/example_token/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <payment_transaction>
          <transaction_type>authorize3d</transaction_type>
          <transaction_id>sp-ee98d-393b-4e3e-b6b3-b64e45044</transaction_id>
          <usage>Electronic transaction via Spree eCommerce platform</usage>
          <remote_ip>127.0.0.1</remote_ip>
          <amount>11000</amount>
          <currency>EUR</currency>
          <card_holder>Spree Commerce</card_holder>
          <card_number>4111111111111111</card_number>
          <expiration_month>12</expiration_month>
          <expiration_year>2025</expiration_year>
          <cvv>123</cvv>
          <notification_url>http://127.0.0.1:4000/api/v2/storefront/emerchantpay_notification</notification_url>
          <return_success_url>http://localhost:4000/orders/R371276490</return_success_url>
          <return_failure_url>http://localhost:4000/checkout/payment?order_number=R371276490</return_failure_url>
          <customer_email>romelia@tillmanlindgren.com</customer_email>
          <customer_phone>88888888888</customer_phone>
          <billing_address>
            <first_name>John</first_name>
            <last_name>Smith</last_name>
            <address1>237 Pedro Valleys</address1>
            <zip_code>19136-0324</zip_code>
            <city>City</city>
            <state>Georgia</state>
            <country>PK</country>
          </billing_address>
          <shipping_address>
            <first_name>John</first_name>
            <last_name>Smith</last_name>
            <address1>7195 Brady Haven</address1>
            <zip_code>02141</zip_code>
            <city>City</city>
            <state>Missouri</state>
            <country>BT</country>
          </shipping_address>
          <threeds_v2_params>
            <threeds_method>
              <callback_url>http://127.0.0.1:4000/api/v2/storefront/emerchantpay_threeds/status</callback_url>
            </threeds_method>
            <control>
              <device_type>browser</device_type>
              <challenge_window_size>full_screen</challenge_window_size>
              <challenge_indicator>mandate</challenge_indicator>
            </control>
            <purchase>
              <category>goods</category>
            </purchase>
            <merchant_risk>
              <shipping_indicator>stored_address</shipping_indicator>
              <delivery_timeframe>another_day</delivery_timeframe>
              <reorder_items_indicator>first_time</reorder_items_indicator>
            </merchant_risk>
            <card_holder_account>
              <creation_date>06-02-2024</creation_date>
              <update_indicator>current_transaction</update_indicator>
              <last_change_date>06-02-2024</last_change_date>
              <password_change_indicator>during_transaction</password_change_indicator>
              <password_change_date>06-02-2024</password_change_date>
              <shipping_address_usage_indicator>current_transaction</shipping_address_usage_indicator>
              <shipping_address_date_first_used>06-02-2024</shipping_address_date_first_used>
              <transactions_activity_last_24_hours>1</transactions_activity_last_24_hours>
            </card_holder_account>
            <browser>
              <accept_header>*/*</accept_header>
              <java_enabled>true</java_enabled>
              <language>en-GB</language>
              <color_depth>32</color_depth>
              <screen_height>400</screen_height>
              <screen_width>400</screen_width>
              <time_zone_offset>+0</time_zone_offset>
              <user_agent>Mozilla/5.0 (compatible; MSIE 9.0; AOL 9.7; AOLBuild 4343.19; Windows NT 6.1; WOW64; Trident/5.0; FunWebProducts)</user_agent>
            </browser>
          </threeds_v2_params>
        </payment_transaction>
    headers:
      Content-Type:
      - text/xml
      Authorization:
      - Basic example_credentials
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"681d1210d611fa2b1f27187a2660da23"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <payment_response>
          <status>error</status>
          <code>220</code>
          <message>Transaction failed, please contact support!</message>
          <technical_message>Invalid Terminal</technical_message>
        </payment_response>
  recorded_at: Tue, 06 Feb 2024 10:37:12 GMT
recorded_with: VCR 6.2.0
