---
http_interactions:
  - request:
      method: post
      uri: https://staging.gate.emerchantpay.net/process/example_token/
      body:
        encoding: UTF-8
        string: |
          <?xml version="1.0" encoding="UTF-8"?>
          <payment_transaction>
            <transaction_type>void</transaction_type>
            <transaction_id>sp-b89f4-1c50-416c-8784-f6a646593</transaction_id>
            <usage>Reference transaction via Spree eCommerce platform - Refund</usage>
            <remote_ip>127.0.0.1</remote_ip>
            <reference_id>e8ead7e8645a70380c0759e87688881a</reference_id>
          </payment_transaction>
      headers:
        Content-Type:
          - text/xml
        Authorization:
          - Basic example_credentials
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/xml; charset=utf-8
        Etag:
          - W/"6bb5d10c556b5d56a1989f9eaa56d0b0"
        data:; script-src https: ''self'' ''unsafe-inline'' js-agent.newrelic.com
        bam.nr-data.net; style-src https: ''self'' ''unsafe-inline''; report-uri https://emerchantpay.report-uri.io/r/default/csp/enforce'
      body:
        encoding: UTF-8
        string: |
          <?xml version="1.0" encoding="UTF-8"?>
          <payment_response>
            <transaction_type>void</transaction_type>
            <status>approved</status>
            <unique_id>6413d2f30e97641479677a1aee7776db</unique_id>
            <transaction_id>sp-b89f4-1c50-416c-8784-f6a646593</transaction_id>
            <technical_message>TESTMODE: No real money will be transferred!</technical_message>
            <message>TESTMODE: No real money will be transferred!</message>
            <mode>test</mode>
            <timestamp>2024-02-06T10:10:07Z</timestamp>
            <descriptor>test</descriptor>
            <sent_to_acquirer>true</sent_to_acquirer>
          </payment_response>
    recorded_at: Tue, 06 Feb 2024 10:10:08 GMT
recorded_with: VCR 6.2.0
