<!DOCTYPE html>
<html>
<head>
  <title>Emerchantpay 3DSv2</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <%= stylesheet_link_tag 'spree/emerchantpay_threeds' %>
</head>

<body>

<%= yield %>

</body>
<%= javascript_include_tag 'spree/emerchantpay_threeds' %>
</html>
