---
http_interactions:
- request:
    method: put
    uri: https://staging.gate.emerchantpay.net/threeds/threeds_method/162d90bf750a62392b12a88010426ccd
    body:
      encoding: US-ASCII
      string: unique_id=162d90bf750a62392b12a88010426ccd&signature=831d3dc53e569397d9fe09bfce4184c4dbbf6c52a2abed9bf1f54296355ad219bce36fc7cdae7e52ddeed62acf347f1624c725aa654a19db713186ecf05af4cb
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic example_credentials
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <payment_response>
          <unique_id>162d90bf750a62392b12a88010426ccd</unique_id>
          <transaction_id>sp-8f095-212d-41f3-8c2c-5da0b1365</transaction_id>
          <transaction_type>authorize3d</transaction_type>
          <status>error</status>
          <technical_message>Please, reconcile the transaction in order to check its current status.</technical_message>
        </payment_response>
  recorded_at: Fri, 16 Feb 2024 14:08:36 GMT
recorded_with: VCR 6.2.0
