---
http_interactions:
- request:
    method: put
    uri: https://staging.gate.emerchantpay.net/threeds/threeds_method/162d90bf750a62392b12a88010426ccd
    body:
      encoding: US-ASCII
      string: unique_id=162d90bf750a62392b12a88010426ccd&signature=4916705ad0ea285bf3440b79f0c09cc4e2071af804ca4dab4421bdc0d0e8945ebc1438a5709082c77a43dc82496a2967edbd070b70aa99455400155b3bc97140
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic example_credentials
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"b63bc57ad9fe9e1e1e56828407a4bb58"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <payment_response>
          <transaction_type>authorize3d</transaction_type>
          <status>pending_async</status>
          <unique_id>162d90bf750a62392b12a88010426ccd</unique_id>
          <transaction_id>sp-8f095-212d-41f3-8c2c-5da0b1365</transaction_id>
          <consumer_id>156794</consumer_id>
          <technical_message>TESTMODE: No real money will be transferred!</technical_message>
          <message>TESTMODE: No real money will be transferred!</message>
          <redirect_url>https://staging.gate.emerchantpay.net/threeds/authentication/162d90bf750a62392b12a88010426ccd</redirect_url>
          <redirect_url_type>3ds_v2_challenge</redirect_url_type>
          <mode>test</mode>
          <timestamp>2024-02-06T16:10:19Z</timestamp>
          <descriptor>test</descriptor>
          <amount>11000</amount>
          <currency>EUR</currency>
          <threeds/>
          <sent_to_acquirer>false</sent_to_acquirer>
        </payment_response>
  recorded_at: Tue, 06 Feb 2024 16:11:51 GMT
recorded_with: VCR 6.2.0
