---
http_interactions:
- request:
    method: post
    uri: https://staging.wpf.emerchantpay.net/wpf
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <wpf_payment>
          <transaction_id>sp-c97b7-c2e2-4cd7-aef3-98c5236c1</transaction_id>
          <amount>11000</amount>
          <currency>EUR</currency>
          <usage>Electronic transaction via Spree eCommerce platform</usage>
          <customer_email>leah@kubbatz.biz</customer_email>
          <customer_phone>88888888888</customer_phone>
          <notification_url>http://127.0.0.1:4000/api/v2/storefront/emerchantpay_notification</notification_url>
          <return_success_url>http://localhost:4000/orders/R278085540</return_success_url>
          <return_failure_url>http://localhost:4000/checkout/payment?order_number=R278085540</return_failure_url>
          <return_cancel_url>http://localhost:4000/checkout/payment</return_cancel_url>
          <return_pending_url>http://localhost:4000/orders/R278085540</return_pending_url>
          <billing_address>
            <first_name>John</first_name>
            <last_name>Smith</last_name>
            <address1>890 Erdman Neck</address1>
            <zip_code>95969</zip_code>
            <city>City</city>
            <state>Nevada</state>
            <country>GN</country>
          </billing_address>
          <shipping_address>
            <first_name>John</first_name>
            <last_name>Smith</last_name>
            <address1>1180 Legros Courts</address1>
            <zip_code>01735-3106</zip_code>
            <city>City</city>
            <state>Washington</state>
            <country>LS</country>
          </shipping_address>
          <transaction_types>
            <transaction_type name="authorize3d"/>
            <transaction_type name="sale3d"/>
            <transaction_type name="wechat"/>
            <transaction_type name="post_finance"/>
            <transaction_type name="trustly_sale"/>
          </transaction_types>
          <threeds_v2_params>
            <control>
              <challenge_window_size>full_screen</challenge_window_size>
              <challenge_indicator>preference</challenge_indicator>
            </control>
            <purchase>
              <category>goods</category>
            </purchase>
            <merchant_risk>
              <shipping_indicator>stored_address</shipping_indicator>
              <delivery_timeframe>another_day</delivery_timeframe>
              <reorder_items_indicator>first_time</reorder_items_indicator>
            </merchant_risk>
            <card_holder_account>
              <creation_date>14-03-2024</creation_date>
              <update_indicator>current_transaction</update_indicator>
              <last_change_date>14-03-2024</last_change_date>
              <password_change_indicator>during_transaction</password_change_indicator>
              <password_change_date>14-03-2024</password_change_date>
              <shipping_address_usage_indicator>current_transaction</shipping_address_usage_indicator>
              <shipping_address_date_first_used>14-03-2024</shipping_address_date_first_used>
            </card_holder_account>
          </threeds_v2_params>
        </wpf_payment>
    headers:
      Content-Type:
      - text/xml
      Authorization:
      - Basic example_credentials
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"b8287c0a97f57a40b3a631bc2102efe5"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <wpf_payment>
          <status>error</status>
          <code>110</code>
          <technical_message>Invalid Authentication</technical_message>
          <message>401 Unauthorized: Invalid Authentication!</message>
        </wpf_payment>
  recorded_at: Thu, 14 Mar 2024 09:52:07 GMT
recorded_with: VCR 6.2.0
