---
http_interactions:
- request:
    method: post
    uri: https://staging.wpf.emerchantpay.net/wpf/reconcile
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <wpf_reconcile>
          <unique_id>9aed8de9319c4c3806a9d1614797f853</unique_id>
        </wpf_reconcile>
    headers:
      Content-Type:
      - text/xml
      Authorization:
      - Basic example_credentials
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"07b942f04f6a645fccc918fa0c534ec3"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <wpf_payment>
          <status>timeout</status>
          <unique_id>9aed8de9319c4c3806a9d1614797f853</unique_id>
          <transaction_id>sp-fce38-b3fc-4320-9700-8e33799f4</transaction_id>
          <consumer_id>164344</consumer_id>
          <timestamp>2024-03-14T10:17:31Z</timestamp>
          <amount>11000</amount>
          <currency>EUR</currency>
        </wpf_payment>
  recorded_at: Fri, 15 Mar 2024 12:31:46 GMT
recorded_with: VCR 6.2.0
