---
http_interactions:
- request:
    method: post
    uri: https://staging.gate.emerchantpay.net/process/example_token/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <payment_transaction>
          <transaction_type>refund</transaction_type>
          <transaction_id>sp-d3c8a-b9aa-4b27-9e43-0134fb7fa</transaction_id>
          <usage>Reference transaction via Spree eCommerce platform - Capture</usage>
          <remote_ip>127.0.0.1</remote_ip>
          <reference_id>ce67aa24ca6ac656684af4a302a6214d</reference_id>
          <amount>99</amount>
          <currency>EUR</currency>
        </payment_transaction>
    headers:
      Content-Type:
      - text/xml
      Authorization:
      - Basic example_credentials
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"681d1210d611fa2b1f27187a2660da23"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <payment_response>
          <status>error</status>
          <code>220</code>
          <message>Transaction failed, please contact support!</message>
          <technical_message>Invalid Terminal</technical_message>
        </payment_response>
  recorded_at: Tue, 06 Feb 2024 12:08:46 GMT
recorded_with: VCR 6.2.0
