---
http_interactions:
- request:
    method: post
    uri: https://staging.gate.emerchantpay.net/process/example_token/
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <payment_transaction>
          <transaction_type>void</transaction_type>
          <transaction_id>sp-620c8-e6ca-48c4-a280-58beec277</transaction_id>
          <usage>Reference transaction via Spree eCommerce platform - Refund</usage>
          <remote_ip>127.0.0.1</remote_ip>
          <reference_id>e8ead7e8645a70380c0759e87688881a</reference_id>
        </payment_transaction>
    headers:
      Content-Type:
      - text/xml
      Authorization:
      - Basic example_credentials
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"986a303aae2e554cb8c1dda43e5379ea"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <payment_response>
          <transaction_type>void</transaction_type>
          <status>error</status>
          <unique_id>76f9d8656f1c0f136e23995a808f889d</unique_id>
          <transaction_id>sp-620c8-e6ca-48c4-a280-58beec277</transaction_id>
          <code>410</code>
          <technical_message>no approved reference transaction found</technical_message>
          <message>Something went wrong, please contact support!</message>
          <mode>test</mode>
          <timestamp>2024-02-06T13:30:00Z</timestamp>
          <descriptor>test</descriptor>
          <sent_to_acquirer>false</sent_to_acquirer>
        </payment_response>
  recorded_at: Tue, 06 Feb 2024 13:30:01 GMT
recorded_with: VCR 6.2.0
