---
http_interactions:
- request:
    method: post
    uri: https://staging.wpf.emerchantpay.net/en/wpf
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <wpf_payment>
          <transaction_id>sp-cdeb1-7903-4205-9286-7bdf7b867</transaction_id>
          <amount>2999</amount>
          <currency>USD</currency>
          <usage>Electronic transaction via Spree eCommerce platform</usage>
          <description>Product 14208 x 1</description>
          <customer_email>joy@haagsenger.co.uk</customer_email>
          <customer_phone>555-555-0199</customer_phone>
          <notification_url>http://127.0.0.1:4000/api/v2/storefront/emerchantpay_notification</notification_url>
          <return_success_url>http://localhost:4000/orders/R383211761</return_success_url>
          <return_failure_url>http://localhost:4000/checkout/payment?order_number=R383211761</return_failure_url>
          <return_cancel_url>http://localhost:4000/checkout/payment</return_cancel_url>
          <return_pending_url>http://localhost:4000/orders/R383211761</return_pending_url>
          <billing_address>
            <first_name>John</first_name>
            <last_name>Doe</last_name>
            <address1>1 Lovely Street</address1>
            <address2>Northwest</address2>
            <zip_code>35005</zip_code>
            <city>Herndon</city>
            <state>STATE_ABBR_2</state>
            <country>I1</country>
          </billing_address>
          <shipping_address>
            <first_name>John</first_name>
            <last_name>Doe</last_name>
            <address1>2 Lovely Street</address1>
            <address2>Northwest</address2>
            <zip_code>35005</zip_code>
            <city>Herndon</city>
            <state>STATE_ABBR_3</state>
            <country>I1</country>
          </shipping_address>
          <transaction_types>
            <transaction_type name="authorize3d"/>
            <transaction_type name="sale3d"/>
            <transaction_type name="wechat"/>
            <transaction_type name="post_finance"/>
            <transaction_type name="trustly_sale"/>
          </transaction_types>
          <lifetime>30</lifetime>
          <threeds_v2_params>
            <control>
              <challenge_window_size>full_screen</challenge_window_size>
              <challenge_indicator>no_preference</challenge_indicator>
            </control>
            <purchase>
              <category>goods</category>
            </purchase>
            <merchant_risk>
              <shipping_indicator>stored_address</shipping_indicator>
              <delivery_timeframe>another_day</delivery_timeframe>
              <reorder_items_indicator>first_time</reorder_items_indicator>
            </merchant_risk>
            <card_holder_account>
              <creation_date>21-05-2024</creation_date>
              <update_indicator>current_transaction</update_indicator>
              <last_change_date>21-05-2024</last_change_date>
              <password_change_indicator>during_transaction</password_change_indicator>
              <password_change_date>21-05-2024</password_change_date>
              <shipping_address_usage_indicator>current_transaction</shipping_address_usage_indicator>
              <shipping_address_date_first_used>21-05-2024</shipping_address_date_first_used>
            </card_holder_account>
          </threeds_v2_params>
        </wpf_payment>
    headers:
      Content-Type:
      - text/xml
      Authorization:
      - Basic example_credentials
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Etag:
      - W/"b8287c0a97f57a40b3a631bc2102efe5"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <wpf_payment>
          <status>error</status>
          <code>110</code>
          <technical_message>Invalid Authentication</technical_message>
          <message>401 Unauthorized: Invalid Authentication!</message>
        </wpf_payment>
  recorded_at: Tue, 21 May 2024 15:09:53 GMT
recorded_with: VCR 6.2.0
